@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@font-face {
    font-family: alexbrush;
    src: url(AlexBrush-Regular.ttf);

    font-family: alexpacifico;
    src: url(Pacifico-Regular.ttf);
}

html{
    font-family: 'Ubuntu';
}
a{
    color:blue;
}

a:active {
    color: red;
}

a:visited{
    color: brown;
    text-decoration: double;
}

a:hover{
    color: aqua;
    text-decoration: none;
    cursor: pointer;
}